<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974577868427-aa05u0rbbel3qs2rgqgqs76kbe8i1s58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974577868427-aa05u0rbbel3qs2rgqgqs76kbe8i1s58</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Og1K8M1LvTO9CYErY_-RsDynJpx6Mpw</string>
	<key>GCM_SENDER_ID</key>
	<string>974577868427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.Homework-5</string>
	<key>PROJECT_ID</key>
	<string>todolist-fokusstart</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-fokusstart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974577868427:ios:21bd60008924ba05713e8e</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-fokusstart.firebaseio.com</string>
</dict>
</plist>